*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #060606;
    color: #fff;
    padding: 20px;
    min-height: 100vh;
}



/*CONTAINER PRINCIPAL (LAYOUT GERAL)*/
.dashboard-container{
    display: flex;
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}
/*barra lateral*/
.sidebar{
    flex: 1;
    min-width: 250px;
    background: linear-gradient(135deg, #ec4899, #8b5cf6);
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 15px 25px rgba(236, 72, 153, 0.3);
}

.menu-item{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 12px 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-item:hover{
    background-color: rgba(255, 255, 255, 0.4);
    transform: translateX(5px);
}